header {
    position:fixed;
    width: 100%;
    display:flex;
    margin: 1em; 
    top: 0;
}

nav{
    margin: auto;
    margin-right: 3em;
}

a {
    font-weight: bold;
    color: #1dbb0f;
    text-decoration: none;
    font-size:large;
    margin-left: 1em;
    text-align: center;
}

a:hover {
    color: blue;
}
