main {
  padding: 100px 20% 0px 20%;
  display: grid;
  grid-template-rows: repeat(39, 10vh);
  padding-bottom: 0;
  position: relative;
}

aside {
  z-index: 1;
}

header {
  background-color: none;
}

.contentSize {
  grid-row: span 8;
}

#intro {
  margin: 0 auto;
  grid-row: 2/10;
}

#projects {
  width: 90%;
  grid-row: span 10;
}

#experience {
  width: 90%;
}

#contact {
  grid-row: span 3;
  line-height: 2em;
}

#email {
  text-decoration: underline;
  /* text-emphasis: bold; */
  font-size: 1em;
  color: #1dbb0f;
  margin: 0;

  border: 1px solid #1dbb0f;
  padding: 0.5em;
}

#email:hover {
  background-color: #1dbb0f;
  color: #000c18;
}

section #overview::after {
  content: "";
  width: 6px;
  height: 16px;
  background: #1dbb0f;
  display: inline-block;
  animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
  0% {
    background: #000c18;
  }

  50% {
    background: #1dbb0f;
  }

  100% {
    background: #000c18;
  }
}
