.mediaLogo {
  width: 32px;
  margin: 10px 0px;
}

.socialMedia {
  display: block;
}

.pushBottom {
  margin-top: auto;
  bottom: 300px;
}

.sideNav {
  width: 5%;
  height: 100px;
  position: fixed;
  display: block;
  align-items: center;
  justify-content: center;
}

#emailContact {
  transform: rotate(90deg);
  right: 50px;
  color: white;
}

#sideEmail {
  color: white;
  font-weight: bold;
  font-size: medium;
}

#sideEmail:hover {
  color: #1dbb0f;
}

aside a:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .sideNav {
    display: none;
  }
}
